# Arquivos sensíveis
.env

# Pastas de dados
# Ignora toda a pasta data (evita subir dados brutos ou temporários)
data/*
# EXCEÇÃO: Permite subir a camada Gold particionada para o Streamlit ler
!data/gold/

# Ambientes virtuais e caches
venv/
__pycache__/
.pytest_cache/
.DS_Store