# Bibliotecas Principais de Dados
pandas
pyarrow

# Interação com APIs
requests

# Estruturação e Validação de Dados
pydantic

# Variáveis de Ambiente e Segurança
python-dotenv

# Bancos de Dados e Nuvem
duckdb
gcsfs

# Interface e Visualização
streamlit
plotly

# Testes Automatizados
pytest